{{> header}}
<div class='ui container'>
    <h1>{{title}}</h1>
    <hr>
    <h3>Written By {{author}}</h3>
    <h3>{{body}}</h3>
    <br>
    <a class='ui blue button' href="/articles/{{urltitle}}/edit">Edit</a>
    <br>
    <br>
    <a href="/articles">Back to Articles List</a>
</div>
{{> footer}}