{{> header}}
<form action="/method" method="POST">
    <input type="hidden" name="_method" value="put" /> Name:
    <input type="text" name="name" id="name" value="{{name}}">
    <br>Price:
    <input type="text" name="price" id="price" value="{{price}}">
    <br>Inventory:
    <input type="text" name="inventory" id="inventory" value="{{inventory}}">
</form>
<a href="/products">Back to Products List</a>
{{> footer}}