{{>header}}
<div class="ui container">
    <h1>Home Page</h1>
    <hr>
    <a class='ui teal big label' href="/products">Products</a>
    <br>
    <br>
    <a class='ui teal big label' href="/articles">Articles</a>
</div>
{{>footer}}