{{> header}}
<div class='ui container'>
    <h1>{{name}}</h1>
    <hr>
    <h3>${{price}}</h3>
    <h3>{{inventory}} in stock</h3>
    <br>
    <a class='ui blue button' href="/products/{{id}}/edit">Edit</a>
    <br>
    <br>
    <a href="/products">Back to Products List</a>
</div>
{{> footer}}